#poll {
  padding-top: 10px;
  
  .header {
    display: none;
  }

  .qa {
    text-align: center;
    
    button {
      margin: 0 5px;
    }

    &.result {
      position: relative;
      // height: 100%;
      // width: 100%;

      .legend {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;

        @include transform(translate(-50%,-50%));
      }
    }
  }
}